<script setup lang="ts">
import {
  mdiTownHall,
  mdiSchool,
  mdiMusic,
  mdiController,
  mdiBookEducation,
} from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="7">
        <v-table>
          <tr>
            <th colspan="2">
              <h1>ยุทธนา ชัยมูล</h1>
            </th>
          </tr>
          <tr>
            <th colspan="2">
              <v-avatar size="300">
                <v-img src="profile.jpg"></v-img>
              </v-avatar>
            </th>
          </tr>

          <tbody>
            <tr>
              <td>
                <h2>ประวัติการศึกษา</h2>
              </td>
              <td>
                <h2>สิ่งที่สนใจ</h2>
              </td>
            </tr>
            <tr>
              <td>
                <v-icon color="#DA3232" :icon="mdiSchool"></v-icon>
                ประถมศึกษา : อนุบาลพิบูลเวศม์
              </td>
              <td>
                <v-icon color="#DA3232" :icon="mdiController"></v-icon>
                เกมคอมพิวเตอร์
              </td>
            </tr>
            <tr>
              <td>
                <v-icon color="#DA3232" :icon="mdiTownHall"></v-icon>
                ระดับมัธยมศึกษา : โรงเรียนเทพศิรินทร์
              </td>
              <td>
                <v-icon color="#DA3232" :icon="mdiMusic"></v-icon>
                ดนตรี
              </td>
            </tr>
            <tr>
              <td>
                <v-icon color="#DA3232" :icon="mdiBookEducation"></v-icon>
                ระดับอุดมศึกษา : มหาวิทยาลัยบูรพา
              </td>
              <td></td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
